<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconocimiento Facial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>

<body class="not-detection-body">
    <div class="navbar">
        <a class="nav-button" href="/main">Home</a>
        <a class="nav-button" href="/">Detection</a>
        <a class="nav-button" href="/thanks">Thanks</a>
    </div>

    <div class="title">
        <H1>BIENVENIDO AL DETECTOR DE TU JETA</H1>
    <h3 class="hero-text">Este es el detector de tu cara, no debería de identificar otras caras, solamente la tuya</h3>

    </div>
</body>

</html>